<!doctype html>
<html lang="en">
  <head>
    <?- include('partials/site-head.ejs') ?>
  </head>
  <body>

  <div class="container">
  <?- include('partials/site-navigation.ejs') ?>
  <?- include('partials/site-header.ejs') ?>
  </div>



  <main class="container">
    <div class="row my-5">
      <div class="col">
        <?- include('partials/site-lectures.ejs') ?>
      </div>
    </div>
  </main>


  <div class="container">
  <?- include('partials/site-footer.ejs') ?>
  </div>



  </body>
</html>
