<!doctype html>
<html lang="en">
  <head>
    <?- include('partials/site-head.ejs') ?>
  </head>

  <body>
  <div class="container">
  <?- include('partials/site-navigation.ejs') ?>
  </div>
  <main class="container my-5">

    <div class="row">

      <!-- Side Card -->
      <div class="col-lg-4">
        <div class=" sticky-md-top py-3">
          <div class="card text-bg-dark shadow">
            <img src="/permalink/<?=post.attr.guid?>/files/lg-<?=post.attr.image?>" class="card-img-top" alt="<?=post.attr.title?>">
            <div class="card-body" style="min-height: 9rem;">
              <h5 class="card-title text-warning"><?=post.attr.title?></h5>
              <p class="card-text small text-muted"><?=timestamp(post.attr.date)?></p>
            </div>
            <div class="card-footer" style="min-height: 4rem;">
              <div class="d-grid gap-2 col-8 mx-auto">
                <?if(post.attr.audio){?>
                  <a href="https://catpea.github.io/chapter-0<?=post.attr.chapter?>/<?=post.attr.audio?>" class="btn btn-<?=post.order.last?'primary':'warning'?>"><i class="bi bi-play-circle"></i> Listen</a>
                <?}?>
              </div>
            </div>

            <div class="card-footer">
              <?if(post.order.first){?><a href="/" class="btn btn-sm btn-outline-primary"><i class="bi bi-house-heart"></i> Home</a><?}?>
              <?if(!post.order.first){?><a href="/permalink/<?=post.order.next?>" class="btn btn-sm btn-outline-info"><i class="bi bi-arrow-left-circle-fill"></i> Previous</a><?}?>

              <?if(post.order.last){?><a href="/" class="btn btn-sm btn-outline-danger float-end"><i class="bi bi-house-heart"></i> Home</a><?}?>
              <?if(!post.order.last){?><a href="/permalink/<?=post.order.prev?>" class="btn btn-sm btn-outline-info float-end">Next <i class="bi bi-arrow-right-circle-fill"></i></a><?}?>

            </div>
          </div>
        </div>
      </div>


      <!-- Content Card -->
      <div class="col-lg-8 text-light post-content pt-3">
        <div class="card text-bg-dark shadow mb-3">
          <div class="card-body">
            <h2 class="card-title text-warning"><?=post.attr.title?></h2>
            <p class="card-text small text-muted"><?=timestamp(post.attr.date)?></p>
          </div>
          <div class="card-text post-content p-3">
            <?- post.html ?>
          </div>
        </div>
      </div>


      </div>



    <?if(post.attr.links.length){?>
      <div class="row">
        <div class="col">
            <!-- links Card -->
          <div class="card text-bg-dark shadow mb-3">
            <div class="card-body">
              <a name="references"></a>
              <h5 class="card-title">Links</h5>
            </div>
            <ul class="list-group list-group-flush">
                <?for(let link of post.attr.links){?>
                  <li class="list-group-item text-bg-dark">
                    <a href="<?=link.url?>" class="card-link"><?=link.title?></a> <small class="text-info">(<?=hostname(link.url)?>)</small>
                    <small class="text-muted d-block small"><a href="<?=link.url?>" class="text-decoration-none text-muted"><small><?=link.url?></small></a></small>
                  </li>
                <?}?>
            </ul>
          </div>
        </div>
      </div>
    <?}?>

    <?if(post.attr.artwork.length && post.attr.artwork.filter(i=>i).length){?>
      <div class="row">
        <div class="col">
            <!-- Art Credit Card -->
          <div class="card text-bg-dark shadow mb-3">
            <div class="card-body">
              <a name="references"></a>
              <h5 class="card-title">Artwork Credit<?=post.attr.artwork.length>1?'s':''?></h5>
            </div>
            <ul class="list-group list-group-flush">
                <?for(let artwork of post.attr.artwork.filter(i=>i)){?>

                  <li class="list-group-item text-bg-dark">
                    <a class="card-link" <?-hostname(artwork).includes('unsplash.com')?'rel="nofollow" ':''?>href="<?=artwork?>"><i class="bi bi-palette-fill"></i> <?=artwork?></a>
                  </li>

                <?}?>
            </ul>
          </div>
        </div>
      </div>
    <?}?>

    <?if(debug){?>
      <div class="row">
        <div class="col">
          <div class="card text-bg-dark shadow mb-3">
            <div class="card-body">
              <div class="card-text text-info mb-3">Debug Table</div>
              <dl class="row">
                <dt class="col-sm-2 small">Order</dt><dd class="col-sm-10 small">Value</dd>
                <?for(const key in post.order){?>
                <dt class="col-sm-2 small text-muted fw-lighter"><small class="float-end"><?=key?></small></dt><dd class="col-sm-10 small text-warning"><small><?=_.chain( JSON.stringify(post.order[key]) ).plaintext().truncate({length: 1024, separator: /\W/i, omission: '...'}).value()?></small></dd>
                <?}?>
                <dt class="col-sm-2 small">Attributes</dt><dd class="col-sm-10 small">Value</dd>
                <?for(const key in post.attr){?>
                <dt class="col-sm-2 small text-muted fw-lighter"><small class="float-end"><?=key?></small></dt><dd class="col-sm-10 small text-warning"><small><?=_.chain( JSON.stringify(post.attr[key]) ).plaintext().truncate({length: 1024, separator: /\W/i, omission: '...'}).value()?></small></dd>
                <?}?>
              </dl>
            </div>
          </div>
        </div>
      </div>
    <?}?>

    <?if(debug){?>
      <div class="row">
        <div class="col">
          <div class="code card shadow mb-3">
            <div class="card-body">
              <pre>
              <code>
<?=JSON.stringify(post, null, '  ')?>
              </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    <?}?>


  </main>
  <div class="container">
  <?- include('partials/site-footer.ejs') ?>
  </div>




  </body>
</html>
