<div class="row">
  <div class="col-12">
  <? for(const post of posts){ ?>
    <?if(post.attr.links?.length){?>
      <div class="card text-bg-dark shadow my-5 position-relative">
        <div class="card-header">
          <?if(post.attr.audio){?>
            <a href="https://catpea.github.io/chapter-<?=post.attr.chapter.toString().length==1?'0':''?><?=post.attr.chapter?>/<?=post.attr.audio?>" class="btn btn-outline-warning position-absolute top-0 end-0"><i class="bi bi-play-circle"></i></a>
          <?}?>
          <a href="/permalink/<?=post.attr.guid?>/" class="text-light text-decoration-none me-3">#<?=post.number?>: <?-post.attr.title.replace(/ (?=\w+$)/gm, '&nbsp;')?>&raquo;</a>
         </div>
          <ul class="list-group list-group-flush list-group-numbered ps-sm-4">
            <? for(const link of post.attr.links){ ?>

              <? if(link.url.startsWith('files/')){ ?>
                <a href="/permalink/<?=post.attr.guid?>/<?= link.url ?>" class="list-group-item list-group-item-action text-bg-dark small text-muted"><?= link.title ?>
                  <small class="text-muted d-block small"><small><?=link.url?> (local file)</small></small></a>
              <? }else{ ?>
                <a href="<?= link.url ?>" class="list-group-item list-group-item-action text-bg-dark small text-muted"><?= link.title ?>
                <small class="text-muted d-block small"><small><?=link.url?></small></small></a>
              <? } ?>

            <? } ?>
          </ul>
        <div class="card-footer">
          <div class="text-muted small"><?=timestamp(post.attr.date)?></div>
        </div>
      </div>
      <?}?>
  <?}?>
</div>
</div>
