<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Cat Pea">
<meta name="generator" content="Notepad">
<title><?=website.title?></title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<meta name="theme-color" content="#712cf9">
<link href="/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="/bootstrap-icons.css">
<link rel="stylesheet" href="/highlight-js/base16/solarized-dark.css">
<script src="/js/bootstrap.min.js"></script>
