<div class="row">
  <div class="col-12">
  <? for(const post of posts){ ?>
      <div class="card text-bg-dark shadow my-5 position-relative">
        <div class="card-header">
          <?if(post.attr.audio){?>
            <!-- <a href="/permalink/<?=post.attr.guid?>/files/<?=post.attr.audio?>" class="btn btn-outline-warning position-absolute top-0 end-0"><i class="bi bi-play-circle"></i></a> -->
            <a href="https://catpea.github.io/chapter-0<?=post.attr.chapter?>/<?=post.attr.audio?>" class="btn btn-outline-warning position-absolute top-0 end-0"><i class="bi bi-play-circle"></i></a>
           <?}?>
          <a href="/permalink/<?=post.attr.guid?>/" class="text-light text-decoration-none me-3">#<?=post.number?>: <?-post.attr.title.replace(/ (?=\w+$)/gm, '&nbsp;')?>&raquo;</a>
         </div>
        <?if(post.snip){?>
          <div class="card-body">
            <p class="card-text small text-muted"><?= post.snip?>...</p>
          </div>
        <?}?>
        <div class="card-footer">
          <div class="text-muted small"><?=timestamp(post.attr.date)?></div>
        </div>
      </div>
  <?}?>
</div>
</div>
